@use './variables' as *;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin media($breakpoint) {
  @if $breakpoint == 'mobile' {
    @media (max-width: 480px) {
      @content;
    }
  } @else if $breakpoint == 'tablet' {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $breakpoint == 'desktop' {
    @media (min-width: 769px) {
      @content;
    }
  }
}

@mixin text-center-white {
  text-align: center;
  color: $gm-c-white;
}

@mixin style-login-and-register {
  border-radius: 0.625rem;
  padding: 5rem 1.5rem 2.25rem 1.5rem;
  width: 500px;
  background: $gm-c-purple-dark;
}

@mixin link-login-and-register {
  @include text-center-white;
  line-height: 120%;
  font-size: $font-size-base;
  a {
    color: $gm-c-yellow;
  }
}
